body {

    font-family: 'Source Code Pro', monospace;
    background: #e4e9f0;
    font-weight: 400;
}

.caja {

    width: 100%;
    height: 100%;
    max-width: 1440px;
    margin: auto;
}

.logo {

    position: absolute;
    height: 88px;
    left: 50px;
    top: 30px;
}

.titulo {

    color: #0A3871;
    font-family: 'Source Code Pro', monospace;
    font-size: 40px;
    position: absolute;
    height: 48px;
    left: 125px;
    top: 55px;
}

.encriptador {

    margin: 0 40px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.encriptadortexto {

    flex-basis: calc(65% - 80px);
}

.areatexto {

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#texto {

    flex-basis: 100%;
    margin-top: 168px;
    margin-left: 50px;
    font-size: 32px;
    line-height: 48px;
    color:#0A3871;
    background-color: transparent;
    resize: none;
    border: none;
}


#texto:focus {

    outline: none
}

#texto::-webkit-input-placeholder {

    color: #0A3871;
}

.infodetexto {

    width: 100%;
    position: relative;
    padding-left: 15px;
}

.info {

    display: flex;
    align-items: center;
    margin: 16px 0 16px 60px;
}

.info img {

    width: 16px;
    height: 16px;
    object-fit: cover;
    display: inline-block;
}

.info p {

    margin-left: 8px;
    display: inline-block;
    color: #3d3d3d;
}

.boton {

    display: flex;
    width: 100%;
    justify-content: center;
}

.botonencriptar {

    padding: 20px;
    position: relative;
    width: 40%;
    background: #0A3871;
    border-radius: 25px ;
    border: none;
    color: #FFFFFF;
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
}
.botonencriptar img {

    position: relative;
    width: 20px;
    top: 0px;
}
.botonencriptar:hover {

    transform: scale(1.1);
    transition: 0.4s;
}
.botonencriptar:active {

    background: #041121;
}
.botondesencriptar {

    padding: 20px;
    position: relative;
    margin-left: 30px;
    width: 40%;
    background: #FFFFFF;
    border-radius: 25px ;
    border: 1px solid #0A3871;
    color: #0A3871;
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
}
.botondesencriptar img {

    position: relative;
    width: 20px;
    top: 0px;
}

.botondesencriptar:hover {

    transform: scale(1.1);
    transition: 0.4s;
}
.botondesencriptar:active {

    color: #FFFFFF;
    background: #041121;
}
.resultado {

    height: 730px;
    width: 100%;
    margin: 40px 40px;
    flex-basis: calc(35% - 80px);
}

.cajaresultado {

    width: 90%;
    min-width: 300px;
    height: 100%;
    background: #FFFFFF;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    font-family: 'Source Code Pro', monospace;
 }

 .imagenresultado {

    width: 280px;
    height: 350px;
    display: block;
    margin: auto;
}

.imagenresultado img {

    object-fit: contain;
    width: 100%;
    height: 100%;
    filter: saturate(70%);
}


.textoresuelto {

    display: flex;
    flex-direction: column;
    margin: 20px;
    display: flex;
    align-items: center;
}

.cajaresultado p:nth-child(2) {

    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-family: 'Source Code Pro', monospace;
    font-weight: normal;
    padding-bottom: 35px;
}

.cajaresultado p:nth-child(3) {

    text-align: center;
    font-size: 16px;
    font-family: 'Source Code Pro', monospace;
    font-style: normal;
}

#solucion {

    position: absolute;
    top: 10px;
    left: 25px;
    right: 25px;
    height: 85%;
    resize: none;
    border: none;
    background: transparent;
    font-family: 'Source Code Pro', monospace;
}

.textoresuelto button {

    position: absolute;
    bottom: 50px;
    padding: 20px;
    position: relative;
    top: 90px;
    width: 60%;
    background: #FFFFFF;
    border-radius: 25px ;
    border: 1px solid #0A3871;
    color: #0A3871;
    visibility: hidden;
    margin-bottom: 30px;
    font-family: 'Source Code Pro', monospace;

}

.textoresuelto button:active{

    transform: scale(0.85);
}

#copiar img {

    position: relative;
    width: 20px;
    top: 2px; 
    right: 10px;
}

@media screen and (max-width: 860px) {
    
    .encriptador {
        margin: 0;
    }

    .areatexto{
        height: 700px;
    }
    .info p {
        font-size: 12px;
    }

    .resultado {
        height: 100%;
        
    }

    .textoresuelto button {
        top: 0px;
    }
}

@media screen and (max-width:600px) {

    #texto {
        font-size: 25px;
    }
    .boton {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .botonencriptar {
        width: 80%;
        margin-bottom: 15px;
    }
    .botondesencriptar {
        width: 80%;
        margin: 0;
    }

}