* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {

    font-family: 'MedievalSharp', cursive;
    background: #e1dfb6;
    font-weight: 400;
}

.caja {

    width: 100%;
    height: 100%;
    max-width: 1440px;
    margin: auto;
}

.titulo {
    
    font-family: 'MedievalSharp', cursive;
    font-size: 45px;
    color: #000000;
    position: absolute;
    height: 48px;
    left: 175px;
    top: 75px;
}

.logo {

    width: 150px;
    position: absolute;
    height: 158px;
    left: 20px;
    top: 10px;
}

.encriptador {

    margin: 0 40px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.encriptadortexto {

    flex-basis: calc(65% - 80px);
}

.areatexto {

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#texto {

    font-family: 'MedievalSharp', cursive;
    flex-basis: 100%;
    margin-top: 168px;
    margin-left: 50px;
    font-size: 28px;
    line-height: 48px;
    color:#5c452d;
    background-color: transparent;
    resize: none;
    border: none;
    padding-left: 75px;
}

#texto:focus {

    outline: none
}

#texto::-webkit-input-placeholder {

    color: #5c452d;
}

.infodetexto {

    width: 100%;
    position: relative;
    padding-left: 15px;
}

.info {

    display: flex;
    align-items: center;
    margin: 16px 0 16px 60px;
}

.info img {

    width: 16px;
    height: 16px;
    object-fit: cover;
    display: inline-block;
}

.info p {

    margin-left: 8px;
    display: inline-block;
    color: #000000;
}

.boton {

    display: flex;
    width: 100%;
    justify-content: center;
}

.botonencriptar {

    font-family: 'MedievalSharp', cursive;
    font-size: 30px;
    padding: 20px 20px 20px 20px;
    position: relative;
    width: 40%;
    background: #5c452d;
    border-radius: 25px ;
    border-style: none;
    color: #8cb04e;
    margin-right: 30px ;
}

.botonencriptar img {

    position:  relative;
    width: 40px;
    height: 30px;
    top: 0px;
}

.botonencriptar:hover {

    transform: scale(1.1);
    transition: 0.4s;
}

.botonencriptar:active {

    background: #5c452d;
}

.botondesencriptar {

    font-family: 'MedievalSharp', cursive;
    font-size: 30px;
    padding: 20px 20px 20px 20px;
    position: relative;
    width: 40%;
    background: #8cb04e;
    border-radius: 25px ;
    border: none;
    color: #5c452d;
}

.botondesencriptar img {

    position: relative;
    width: 40px;
    height: 30px;
    top: 0px;
}

.botondesencriptar:hover {

    transform: scale(1.1);
    transition: 0.4s;
}

.botondesencriptar:active {

    color: #5c452d;
    background: #8cb04e;
}

.resultado {

    height: 730px;
    width: 100%;
    margin: 40px 40px;
    flex-basis: calc(35% - 80px);
}

.cajaresultado {

    width: 90%;
    min-width: 300px;
    height: 100%;
    background: #8cb04e;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
}

 .imagenresultado {

    width: 280px;
    height: 350px;
    display: block;
    margin: auto;
}

.imagenresultado img {

    object-fit: contain;
    width: 100%;
    height: 100%;
    filter: saturate(70%);
}

.textoresuelto {

    display: flex;
    flex-direction: column;
    margin: 20px;
    display: flex;
    align-items: center;
}

.cajaresultado p:nth-child(2) {

    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-family: 'MedievalSharp', cursive;
    font-weight: 700;
    padding-bottom: 35px;
}

.cajaresultado p:nth-child(3) {

    text-align: center;
    font-size: 16px;
    font-family: 'MedievalSharp', cursive;
    font-style: normal;
}

#solucion {

    position: absolute;
    top: 10px;
    left: 25px;
    right: 25px;
    height: 85%;
    resize: none;
    border: none;
    background: transparent;
}

.textoresuelto button {

    font-family: 'MedievalSharp', cursive;
    font-size: 30px;
    position: absolute;
    bottom: 50px;
    padding: 20px;
    position: relative;
    top: 90px;
    width: 60%;
    background: #e1dfb6;
    border-radius: 25px ;
    border: none;
    color: #5c452d;
    visibility: hidden;
    margin-bottom: 30px;

}

.textoresuelto button:active{

    transform: scale(0.85);
}

#copiar img {

    position: relative;
    width: 40px;
    height: 30px;
    top: 2px; 
    right: 10px;
}

@media screen and (max-width: 860px) {

    .encriptador {
        margin: 0;
    }

    .areatexto{
        height: 700px;
        padding-bottom: 30px;
    }

    #encriptacion {
        position: relative;
        padding: 20px 75px 20px 20px;
    }

    #desencriptacion {
        position: relative;
        padding: 20px 75px 20px 20px;
    }

    .info p {
        font-size: 12px;
    }

    .resultado {
        height: 100%;
        
    }

    .textoresuelto button {
        top: 0px;
        padding-bottom:50px ;
    }
}

@media screen and (max-width:600px) {

    #texto {
        font-size: 30px;
    }
    .boton {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .botonencriptar {
        width: 80%;
        margin-left: 35px;
        margin-bottom: 15px;
    }
    .botondesencriptar {
        width: 80%;
        margin: 0;
    }

}